.bg-primary-trf {
  background-color: #6aa5ff;
}

.bg-secondary-trf {
  background-color: #d1d0cd;
}

.bg-warning-trf {
  background-color: #fec857;
}

.bg-danger-trf {
  background-color: #fe746f;
}
