.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem; /* Use 100% da altura da tela */
  width: 30rem;
  background-color: rgb(235, 244, 253);
  margin-top: 5vh;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
}
.login-form {
  width: 400px;
  height: 400px;
}
.container-login {
  background-color: rgb(235, 244, 253);
}
h1 {
  color: #1a55b4;
  margin-bottom: 20px;
}
.form-login {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-bottom: 10px;
}
.form-control {
  background-color: inherit; /* Herda a cor de fundo do contêiner */
}
.form-control:focus {
  box-shadow: none;
}
.btn {
  margin-bottom: 10px;
}
.btn-google {
  background-color: white;
}
