<div class="row justify-content-center">
  <div class="col-md-6">
    <form>
      <div class="mb-3 mt-5">
        <h4 class="text-center">Criar Tarefa</h4>
      </div>
      <div class="mb-3 mt-5">
        <div class="input-group">
          <input type="text" class="form-control border-0 border-bottom" id="titulo-modal" aria-describedby="inserirTitulo" placeholder="Digite um título">
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <input type="text" class="form-control border-0 border-bottom" id="descricao-modal" aria-describedby="inserirdescricao" placeholder="Adicione uma descrição (opcional)">
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-calendar-alt"></i>
          </span>
          <input type="date" class="form-control border-0 border-bottom" id="prazoDate">
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-tag"></i>
          </span>
          <input type="text" class="form-control border-0 border-bottom" id="inserirCategoria" aria-describedby="inserirCategoria" placeholder="Inserir categoria">
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-user-plus"></i>
          </span>
          <input type="text" class="form-control border-0 border-bottom" id="adicionarMembros" aria-describedby="adicionarMembros" placeholder="Adicionar Membros">
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-paperclip"></i>
          </span>
          <input type="text" class="form-control border-0 border-bottom" id="inserirAnexos" aria-describedby="adicionarMembros" placeholder="Inserir anexos">
        </div>
      </div>
      <hr>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-arrow-down-right"></i>
          </span>
          <input type="text" class="form-control border-0 border-bottom" id="adicionarSubTarefa" aria-describedby="adicionarSubTarefa" placeholder="Adicionar Sub-tarefas">
        </div>
      </div>
      <div class="mb-4 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary btn-block">Criar</button>
      </div>
    </form>
  </div>
</div>